:root {
  --spinner-circumference: 56.52;
  --spinner-circumference-quarter: 14.13;
  --spinner-circumference-three-quarter: 42.39;
  --spinner-duration: 5s;
  --spinner-progress: 0, var(--spinner-circumference);
}

.mea-show__container {
  position: relative;

  /**********/
  /* IFRAME */
  /**********/

  iframe {
    display: block;
  }

  .wp-admin iframe {
    visibility: hidden;
  }
}

.mea-toolbar {

  &.components-toolbar-group > .components-button:last-of-type.has-icon {
    padding-right: 12px !important;
  }

  .components-button:focus::before {
    box-shadow: inset 0 0 0 1.5px #fff !important;
    outline: 2px solid var(--wp-admin-theme-color) !important;
  }

  .components-button:first-child.has-icon {
    padding-left: 12px !important;
  }
}

.components-dropdown-menu__menu .components-dropdown-menu__menu-item.is-active svg, .components-dropdown-menu__menu .components-menu-item.is-active svg {
  border: 2px solid black;
}

.wp-admin .mea-show__container {
  position: relative;
}

.mea-show__container_with_preview {
  padding-top: 31px;
}

/***********/
/* SPINNER */
/***********/


.mea-show__spinner circle {
  stroke-width: 1.5px;
  fill: none;
  stroke: currentColor;
  stroke-dashoffset: var(--spinner-circumference-quarter);
  stroke-dasharray: var(--spinner-circumference), 0;
  width: 18px;
  height: 18px;
}

.mea-show__wrapper_playing .mea-show__spinner circle {
  stroke-dasharray: var(--spinner-progress);
  animation: spinnerFilling var(--spinner-duration) linear forwards;
}

.mea-show__spinner_download circle {
  stroke-dasharray: var(--spinner-circumference-quarter), var(--spinner-circumference-quarter);
  animation: spinnerRotation 0.5s infinite linear forwards;
}

.mea-show__wrapper_pause .mea-show__spinner circle {
  stroke-dasharray: var(--spinner-progress);
}

@keyframes spinnerFilling {
  to {
    stroke-dasharray: var(--spinner-circumference), 0;
  }
}

@keyframes spinnerRotation {
  from {
    stroke-dashoffset: var(--spinner-circumference-three-quarter);
  }
  to {
    stroke-dashoffset: var(--spinner-circumference-quarter);
  }
}

/******************/
/* PREVIEW BUTTON */
/******************/

.mea-show__preview-btn {
  visibility: visible;
  opacity: 1;
  color: #d1d1d1;
  background-color: #25292c;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 0;
  padding: 3px 4px;
  transition: opacity 0.3s;
  cursor: pointer;
  user-select: none;

  span {
    line-height: 20px;
    float: right;
    font-weight: bold;
  }

  svg {
    display: block;
    float: left;
    margin-right: 4px;
  }
}

.mea-show__preview-btn_indicator {
  display: none;
}

.mea-show__wrapper_playing {
  .mea-show__preview-btn_indicator {
    display: inline;
  }

  .mea-show__preview-btn_action {
    display: none;
  }

  .mea-show__preview-btn {
    visibility: visible;
    opacity: 1;
  }
}

.mea-show__preview-btn_light {
  color: #555;
  background-color: #fcfcfc;
  border: 1px solid #d7d7d7;
}

.mea-show__preview-btn_left {
  left: 12px;
}

.mea-show__preview-btn_center {
  left: 50%;
  transform: translate(-50%, 0);
}

.mea-show__preview-btn_right {
  left: inherit;
  right: 12px;
}

.mea-show__preview-btn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49%;
  border: 4px solid;
  border-color: #25292c transparent transparent transparent;
}

.mea-show__preview-btn_light::after {
  border-color: #d7d7d7 transparent transparent transparent;
}

/***********/
/* NOTICES */
/***********/

[data-type="veliky/mixcloud-show"] .components-notice {
  margin: 0;
  padding-right: 12px;
}

.components-placeholder__input-error {
  border-color: #e14d43 !important;
  box-shadow: 0 0 0 1px #e14d43 !important;
}

.mea-list__container {
  border: 1px solid #1e1e1e;
  border-radius: 2px;

  input[type="number"] {
    max-width: 100px;
    min-height: 36px;
  }

  input[type="date"] {
    max-height: 36px;
  }

  .components-checkbox-control__input-container {
    margin-right: 7px;
  }

  .components-base-control.components-placeholder__learn-more:nth-of-type(1) {
    margin-right: 7px;
  }

  & > .components-placeholder.components-placeholder {
    box-shadow: none;
  }

  .block-editor-inner-blocks {
    margin: 0 1em 1em;
    border-top: 1px #1e1e1e dashed;
  }

  .mea-list__form {

    flex-direction: column;

    .components-placeholder__input {
      flex: 1 1 auto;
      margin: 0 8px 0 0;
    }

    .mea-list__form__group, .mea-list__form__group_secondary {
      display: flex;
      flex-flow: row wrap;
    }

    .mea-list__form__group_secondary {

      label span {
        margin-right: 1em;
      }

      justify-content: space-between;
      padding-top: 1em;
    }

    label {
      display: block;
    }
  }
}
